<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Hackathon file</title>

</head>

<body style="margin: 5rem; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">

    <h1>Hackathon Fragment</h1>

    <div>

        <p>

            <b>Monthly Payment:</b>  {{data.monthlyPayment}}

        </p>

        <p>

            <b>Total Loan amount:</b>  {{data.totalLoanAmount}}

        </p>

        <p>

            <b>Final payment:</b>  {{data.finalPayment}}

        </p>

        <p>

            <b>Duration :</b> {{data.duration}}

        </p>

        <p>

            <b>Apr:</b> {{data.apr}}

        </p>
          <p>

            <b>Rate:</b> {{data.rate}}

        </p>

    </div>

</body>

</html>